a {
    color: black;
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}
a:visited{
    color: black;
}
a:hover{
    text-decoration: underline;
}
.fullName{

}
.image{
   margin-bottom: 1px;
}
.skills-title{
font-weight: bold;
}